button.slick-arrow {
  display: none;
}

.parent {
  position: relative;
}

.child {
  display: none;
  width: 100%;
}

.parent:hover .child {
  display: flex;
}
.animatebounce{
   animation: float 3s infinite;
}

@keyframes float {
  0%, 100% {
    transform: translateY( 0); /* Start and end at the same position */
  }
  50% {
    transform: translateY(-30px); /* Move upwards at mid-point */
  }
}

/* glitch animation */
.glitch {
  font-size: 3rem;
  font-weight: 600;
  color: #d6eff5 ;
  position: relative;
  text-shadow: 0.05em 0 0 #3389eb, -0.03em -0.04em 0 #042c77,
    0.025em 0.04em 0 #d38004;
  animation: glitch 725ms infinite;
}

.glitch span {
  position: absolute;
  top: 0;
  left: 0;
}

.glitch span:first-child {
  animation: glitch 500ms infinite;
  clip-path: polygon(0 0, 100% 0, 100% 35%, 0 35%);
  transform: translate(-0.08em, -0.05em);
  opacity: 0.75;
}

.glitch span:last-child {
  animation: glitch 475ms infinite;
  clip-path: polygon(0 65%, 100% 65%, 100% 100%, 0 100%);
  transform: translate(0.08em, 0.05em);
  opacity: 0.75;
}

@keyframes glitch {
  0% {
    text-shadow: 0.05em 0 0 #3389eb, -0.03em -0.04em 0 #042c77,
      0.025em 0.04em 0 #d38004;
  }
  15% {
    text-shadow: 0.05em 0 0 #3389eb, -0.03em -0.04em 0 #042c77,
      0.025em 0.04em 0 #d38004;
  }
  16% {
    text-shadow: -0.05em -0.025em 0 #3389eb, 0.025em 0.035em 0 #042c77,
      -0.05em -0.05em 0 #d38004;
  }
  49% {
    text-shadow: -0.05em -0.025em 0 #3389eb, 0.025em 0.035em 0 #042c77,
      -0.05em -0.05em 0 #d38004;
  }
  50% {
    text-shadow: 0.05em 0.035em 0 #3389eb, 0.03em 0 0 #042c77,
      0 -0.04em 0 #d38004;
  }
  99% {
    text-shadow: 0.05em 0.035em 0 #3389eb, 0.03em 0 0 #042c77,
      0 -0.04em 0 #d38004;
  }
  100% {
    text-shadow: -0.05em 0 0 #3389eb, -0.025em -0.04em 0 #042c77,
      -0.04em -0.025em 0 #d38004;
  }
}